In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

Banknote Authentication Dataset
--------------------------------------------

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.


Attribute Information:

1. variance of Wavelet Transformed image (continuous)
2. skewness of Wavelet Transformed image (continuous)
3. curtosis of Wavelet Transformed image (continuous)
4. entropy of image (continuous)
5. class (integer)

This is a copy of the UCI Machine Learning banknote authentication dataset. https://archive.ics.uci.edu/ml/datasets/banknote+authentication

In [7]:
# Read the CSV file into a pandas DataFrame

notes = pd.read_csv('../Resources/data_banknote_authentication.csv', header=None, names=['variance','skewness','curtosis', 'entropy', 'class'])
notes.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [8]:
# Assign the data to X and y
X = notes[["variance","skewness","curtosis","entropy"]]
y = notes[['class']]
print(X.shape,y.shape)

(1372, 4) (1372, 1)

Split the data into training and testing sets

In [10]:
# Split the data by using train_test_split()
from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=25)

In [11]:
y_test.shape

(343, 1)

Create a logistic regression model

In [12]:
# Create a logistic regression model
# YOUR CODE HERE
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

Fit (train) our model by using the training data

In [13]:
# Fit the model to the data
# YOUR CODE HERE
classifier.fit(X_train,y_train)

C:\Users\14694\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

Validate the model by using the test data

In [14]:
# Print the accuracy score for the test data
# YOUR CODE HERE
print(f"Training data score:{classifier.score(X_train,y_train)}")
print(f"Testing data score:{classifier.score(X_test,y_test)}")

Training data score:0.9873663751214772
Testing data score:0.9970845481049563

Make predictions

In [15]:
# Make predictions by using the X_test and y_test data
# Print at least 10 predictions vs. their actual labels
# YOUR CODE HERE
print(f"Actual:{list(y_test[:10])}")
print(f"Predicted:{list(classifier.predict(X_test[:10]))}")

Actual:['class']
Predicted:[1, 0, 1, 0, 1, 1, 1, 0, 1, 1]

In [16]:
y_test

      class
1005      1
462       0
1137      1
237       0
1228      1
...     ...
217       0
374       0
961       1
1058      1
168       0

[343 rows x 1 columns]